:root {
  --primary: #0f4c81;
  --secondary: #14b8a6;
  --accent: #22c55e;

  --white: #fff;
  --background: #f8fafc;

  --dark: #0f172a;
  --gray: #64748b;

  --border: #e2e8f0;

  --radius: 18px;

  --container: 1280px;

  --shadow: 0 20px 60px rgba(15, 76, 129, 0.08);

  --transition: 0.35s ease;
}
